* {
    font-family: "Press Start 2P";
}

.width-80 {
    width: 80vw;
}

.width-30 {
    width: 30vw;
}

.height-80 {
    height: 80vh;
}

.height-20 {
    height: 20%;
}

#drink-img {
    max-height: 300px;
    object-fit: contain;
  }
  